<div>
  <div class="stepper" >
    <div class="step">
      <h2>Subscriptions, <br/> Tailored to you.</h2>
      <p>Before we get started, you have an <br/> important choice to make:</p>
      <div class=step-footer>
        <input id="three1" type="radio" name="gift-type" value="SUBSCRIBE" autofocus/>
        <label class="coffee-type three" for="three1">
          <img class="icon-text" src="https://cdn.shopify.com/s/files/1/0923/5128/files/icons_12-5-03.png" alt=""/>
          <h3 class="h3">SUBSCRIBE</h3>
          <span>Set it and forget it. <br/> Save 10% now with <br/> recurring shipments.</span>
        </label>         
        <input id="three2" type="radio" name="gift-type" value="SEND AS A GIFT" />
        <label class="coffee-type three" for="three2">
          <img class="icon-text" src="https://cdn.shopify.com/s/files/1/0923/5128/files/icons_12-5-06.png" alt=""/>
          <h3 class="h3">SEND AS A GIFT</h3>
          <span>Our best value! Pay up <br/>front, and shipping is <br/>included.</span>
        </label>     
      </div>
    </div>
    <div class="step coffee-type-step hide-step">
      <h2>First, choose your coffee</h2>
      <p>Pick your favorite beans, or let <br/>us choose for you.</p>
      <div>     
        <input id="three3" type="radio" name="coffee-type" value="Highline Light Roast" />
        <label class="three" for="three3"> 
          <img class="icon-text" src="https://cdn.shopify.com/s/files/1/0923/5128/files/p2-icon1.png" alt=""/>
          <h3 class="h3">HIGHLINE </h3>
          <span>Light Roast</span>
        </label>
        <input id="one" type="radio" name="coffee-type" value="71 House Medium Roast" />
        <label class="one" for="one">
          <img class="icon-text" src="https://cdn.shopify.com/s/files/1/0923/5128/files/p2-icon2.png" alt=""/>
          <h3 class="h3">71 HOUSE  </h3>
          <span>Medium Roast</span>
        </label>
        <input id="two" type="radio" name="coffee-type" value="Gotham Dark Roast" />
        <label class="two" for="two">
          <img class="icon-text" src="https://cdn.shopify.com/s/files/1/0923/5128/files/p2-icon3.png" alt=""/>
          <h3 class="h3">GOTHAM  </h3>
          <span>Dark Roast</span>
        </label>
        <input id="three5" type="radio" name="coffee-type" value="Roaster's Selection Blend" />
        <label class="three" for="three5">
          <img src="https://cdn.shopify.com/s/files/1/0923/5128/files/p2-icon4.png" alt=""/>
          <h3 class="h3">ROASTER’S SELECTION   </h3>
          <span>Blend</span>
        </label>
        <input id="four6" type="radio" name="coffee-type" value="Roaster’s Selection Single Originn" />
        <label class="four" for="four6">
          <img src="https://cdn.shopify.com/s/files/1/0923/5128/files/p2-icon5.png" alt=""/>
          <h3 class="h3">ROASTER’S SELECTION   </h3>
           <span>Single Origin</span>
        </label>        
      </div>
    </div>
    <div class="step delivery-timming-step hide-step">
      <h2>For how long?</h2>
      <p>Let’s test your commitment.</p>
      <div class="subscription-mrg-80">
        <input id="timming-one" type="radio" name="delivery-timming" value="3 Months" />
        <label class="delivery-timming delivery-timming-one" for="timming-one">
          <img src="https://cdn.shopify.com/s/files/1/0923/5128/files/p3-icon1.png" alt=""/>
        </label>
        <input id="timming-two" type="radio" name="delivery-timming" value="6 Months" />
        <label class="delivery-timming dthelivery-timming-two" for="timming-two">
          <img src="https://cdn.shopify.com/s/files/1/0923/5128/files/p3-icon2.png" alt=""/>
        </label>
        <input id="timming-three" type="radio" name="delivery-timming" value="12 Months" />
        <label class="delivery-timming delivery-timming-three" for="timming-three">
          <img src="https://cdn.shopify.com/s/files/1/0923/5128/files/p3-icon3.png" alt=""/>
        </label>
      </div>  
    </div>
    <div class="step how-many-step hide-step">
      <h2>How many bags?</h2> 
      <p>Now to the good part.</p>
      <div class="subscription-mrg-80">
        <input id="how-many-one" type="radio" name="how-many" value="2x 12oz. bags" />
        <label class="how-many how-many-one" for="how-many-one"> 
          <img class="icon-text" src="https://cdn.shopify.com/s/files/1/0923/5128/files/icons_12-5-08.png" alt=""/>
          <span>   TWO 12OZ.BAGS</span> <span>(Roughly 28 servings)</span>
        </label>
        <input id="how-many-two" type="radio" name="how-many" value="3x 12oz. bags" />
        <label class="how-many how-many-two" for="how-many-two">
          <img class="icon-text" src="https://cdn.shopify.com/s/files/1/0923/5128/files/icons_12-5-07.png" alt=""/>
          <span> THREE 12OZ.BAGS </span><span>(Roughly 42 servings)</span>
        </label>
      </div>
    </div>
    <div class="step delivery-frequency-step hide-step">
      <h2>Delivery Frequency</h2>
      <p>How often do you want fresh stock?</p>
      <div class="subscription-mrg-80">
        <input id="delivery-one" type="radio" name="delivery-frequency" value="Every 15 days" />
        <label class="delivery-frequency delivery-frequency-one" for="delivery-one">
          <img src="https://cdn.shopify.com/s/files/1/0923/5128/files/p5-icon1.png" alt=""/>
          <br/>
        </label>
        <input id="delivery-two" type="radio" name="delivery-frequency" value="Every 30 days" />
        <label class="delivery-frequency delivery-frequency-two" for="delivery-two">
          <img src="https://cdn.shopify.com/s/files/1/0923/5128/files/p5-icon2.png" alt=""/>
           <br/>
        </label>
      </div>    
    </div>
  <div>
</div>

<style>
  .icon-text {
    position: relative;
    left: 23px;
  }
  .hide-step {
    opacity: 0;
    display: none;
    transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
  }
  .show-step{
    display:block;
    opacity: 1;
  }
  label:hover {
    text-decoration: underline;
  }
  input:checked + label {
    text-decoration: underline;
  }
  .stepper svg {max-width: 200px;height: auto;}
  .step input[type="radio"]{display:none;}
  .step label{display: block; margin: 40px 30px; text-align: center;}
  .step {
    text-align: center;
  }
  .stepper .step { text-align: center;  padding: 10px;   margin: 60px auto;}
  .step label span { display: block;   }
  .coffee-type-step {
    max-width: 850px;
    margin: auto;
  }
  .delivery-timming-step {
    max-width: 746px;
    padding: 0;
  }
  .delivery-timming-step label {
    display: block;
    margin: 50px;
    padding: 0 20px;
  }
 .delivery-timming-step h2 {
    margin-top: 30px;
  }
 .subscription-mrg-80 {
     margin-top: 80px;
  }
  .how-many-step {
    max-width: 1000px;
  }
  .how-many-step {
    max-width: 1000px;
  }
  .how-many-step label {
    display: inline-block;
    margin: 0;
    width: 50%;
    max-width: 233px;
    margin: 40px 25px;
  }
  .delivery-frequency-step label {
    display: inline-block;
    width: 50%;
    max-width: 233px;
    margin: 40px 25px;
  }
  @media (min-width: 760px){
    .step label{display: inline-block; margin: 0 30px;}
    .stepper .step { height: 650px;}
    label.coffee-type {
      width: 24%;
      margin: 0;
    }
    .step.coffee-type-step label{width: 200px;}
    .delivery-timming-step label {
      display: inline-block;
      margin: 0;
      width: 30%;
      padding: 0 20px;
    }
    .how-many-step label {
      display: inline-block;
      width: 50%;
      max-width: 233px;
      margin: 0 25px;
    }
  }  
</style>

<script>
  var selectedproductData = {  };
  function logselectedproductData(){
		console.log(
			" for who - " + selectedproductData["gift-type"] + 
			"--" + selectedproductData["coffee-type"] + 
			"  total bags -  " +   selectedproductData["how-many"] +
			"  deverly -  " +   selectedproductData["delivery-timming"] + 
			" frequency  " +   selectedproductData["delivery-frequency"]			
		);
	};

  jQuery("input").on("click", function(){
    // Handle Obj
    var val = jQuery(this).attr("value");
    var key = jQuery(this).attr("name");
    selectedproductData[key] = val;
    
    // Handle Step
    var currentInput = jQuery(this);
    var nextStep = jQuery(this).closest(".step").next(".step");
    var offSet = jQuery(this).closest(".step").next(".step");
    
    if(key === "coffee-type"){
      if(selectedproductData["gift-type"] === "SEND AS A GIFT"){
        nextStep.removeClass("hide-step").addClass("show-step");
      } else {
          nextStep.removeClass("show-step").addClass("hide-step");
          nextStep.next(".step").removeClass("show-step").addClass("hide-step");
          nextStep.next(".step").next().removeClass("show-step").addClass("hide-step");
          nextStep.next(".step").next().next().removeClass("show-step").addClass("hide-step");
      }
    } else {
      nextStep.removeClass("hide-step").addClass("show-step");
    }

    // Handle Scroll Animnate
		if(Object.keys(selectedproductData).length != 5){
      var positionForTop = 0
      if ( Object.keys(selectedproductData)[0] ){
        positionForTop = 150;
      } else {
        positionForTop = 0;
      }
			
      $('html, body').animate({
          scrollTop:  $(nextStep).offset().top - positionForTop
      }, 2000);    
    }  

    // Handle Page Redirect
    if ((selectedproductData["gift-type"]) === "SEND AS A GIFT") {
      switch (selectedproductData["coffee-type"]) {
        case "71 House Medium Roast":
          switch (selectedproductData["delivery-timming"]) {
            case "3 Months":
              if(selectedproductData["how-many"] === "2x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 15 days"){
                window.location.href = '/products/71-house-medium-roast-2-bags-bi-weekly-3-months';
              } else if (selectedproductData["how-many"] === "2x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 30 days") {
                window.location.href = '/products/71-house-medium-roast-2-bags-monthly-3-months';
              } else if (selectedproductData["how-many"] === "3x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 15 days") {
                window.location.href = '/products/71-house-medium-roast-3-bags-bi-weekly-12-months';
              } else if (selectedproductData["how-many"] === "3x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 30 days") {
                window.location.href = '/products/71-house-medium-roast-3-bags-monthly-3-months';
              }
              break;
            case "6 Months":
              if(selectedproductData["how-many"] === "2x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 15 days"){
                window.location.href = '/products/71-house-medium-roast-2-bags-bi-weekly-6-months';
              } else if (selectedproductData["how-many"] === "2x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 30 days") {
                window.location.href = '/products/71-house-medium-roast-2-bags-monthly-6-months';
              }  else if (selectedproductData["how-many"] === "3x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 15 days") {
                window.location.href = '/products/71-house-medium-roast-3-bags-bi-weekly-6-months';
              } else if (selectedproductData["how-many"] === "3x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 30 days") {
                window.location.href = '/products/71-house-medium-roast-3-bags-monthly-6-months';
              }
              break;
            case "12 Months":
              if(selectedproductData["how-many"] === "2x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 15 days"){
                  window.location.href = '/products/71-house-medium-roast-2-bags-bi-weekly-12-months';
              } else if (selectedproductData["how-many"] === "2x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 30 days") {
                window.location.href = '/products/71-house-medium-roast-2-bags-monthly-12-months';
                
              } else if (selectedproductData["how-many"] === "3x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 15 days") {
                window.location.href = '/products/71-house-medium-roast-3-bags-bi-weekly-3-months';

              } else if (selectedproductData["how-many"] === "3x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 30 days") {
                window.location.href = '/products/71-house-medium-roast-3-bags-monthly-12-months';
              }
              break;
          }
          break;
        case "Gotham Dark Roast":
          switch (selectedproductData["delivery-timming"]) {
            case "3 Months":
              if(selectedproductData["how-many"] === "2x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 15 days"){
                window.location.href = '/products/gotham-dark-roast-2-bags-bi-weekly-3-months';
              } else if (selectedproductData["how-many"] === "2x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 30 days") {
                window.location.href = '/products/gotham-dark-roast-2-bags-monthly-3-months';
              }  else if (selectedproductData["how-many"] === "3x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 15 days") {
                window.location.href = '/products/gotham-dark-roast-3-bags-bi-weekly-3-months';
              } else if (selectedproductData["how-many"] === "3x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 30 days") {
                window.location.href = '/products/gotham-dark-roast-3-bags-monthly-3-months';
              }
              break;
            case "6 Months":
              if(selectedproductData["how-many"] === "2x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 15 days"){
                window.location.href = '/products/gotham-dark-roast-2-bags-bi-weekly-6-months';
              } else if (selectedproductData["how-many"] === "2x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 30 days") {
                window.location.href = '/products/gotham-dark-roast-2-bags-monthly-6-months';
              } else if (selectedproductData["how-many"] === "3x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 15 days") {
                window.location.href = '/products/gotham-dark-roast-3-bags-bi-weekly-6-months';
              } else if (selectedproductData["how-many"] === "3x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 30 days") {
                window.location.href = '/products/gotham-dark-roast-3-bags-monthly-6-months';
              }
              break;
            case "12 Months": 
              if(selectedproductData["how-many"] === "2x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 15 days"){
                window.location.href = '/products/gotham-dark-roast-2-bags-bi-weekly-12-months';
              } else if (selectedproductData["how-many"] === "2x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 30 days") {
                window.location.href = '/products/gotham-dark-roast-2-bags-monthly-12-months';
              } else if (selectedproductData["how-many"] === "3x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 15 days") {
                window.location.href = '/products/gotham-dark-roast-3-bags-bi-weekly-12-months';
              } else if (selectedproductData["how-many"] === "3x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 30 days") {
                window.location.href = '/products/gotham-dark-roast-3-bags-monthly-12-months';
              }
              break;     
          }    
          break;
        case "Roaster’s Selection Single Originn":
          switch (selectedproductData["delivery-timming"]) {
            case "3 Months":
              if(selectedproductData["how-many"] === "2x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 15 days"){
                window.location.href = '/products/roasters-selection-br-single-origin-2-bags-bi-weekly-3-months';
              } else if (selectedproductData["how-many"] === "2x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 30 days") {
                window.location.href = '/products/roasters-selection-br-single-origin-2-bags-monthly-3-months';
              } else if (selectedproductData["how-many"] === "3x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 15 days") {
                window.location.href = '/products/roasters-selection-br-single-origin-3-bags-bi-weekly-3-months';
              } else if (selectedproductData["how-many"] === "3x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 30 days") {
                window.location.href = '/products/roasters-selection-br-single-origin-3-bags-monthly-3-months';
              }
              break;
            case "6 Months":
              if(selectedproductData["how-many"] === "2x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 15 days"){
                window.location.href = '/products/roasters-selection-br-single-origin-2-bags-bi-weekly-6-months';
              } else if (selectedproductData["how-many"] === "2x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 30 days") {
                window.location.href = '/products/roasters-selection-br-single-origin-2-bags-monthly-6-months';
              } else if (selectedproductData["how-many"] === "3x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 15 days") {
                window.location.href = '/products/roasters-selection-br-single-origin-3-bags-bi-weekly-6-months';
              } else if (selectedproductData["how-many"] === "3x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 30 days") {
                window.location.href = '/products/roasters-selection-br-single-origin-3-bags-monthly-6-months';
              }
              break;
            case "12 Months":   
              if(selectedproductData["how-many"] === "2x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 15 days"){
                window.location.href = '/products/roasters-selection-br-single-origin-2-bags-bi-weekly-12-months';
              } else if (selectedproductData["how-many"] === "2x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 30 days") {
                window.location.href = '/products/roasters-selection-br-single-origin-2-bags-monthly-12-months';
              } else if (selectedproductData["how-many"] === "3x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 15 days") {
                window.location.href = '/products/roasters-selection-br-single-origin-3-bags-bi-weekly-12-months';
              } else if (selectedproductData["how-many"] === "3x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 30 days") {
                window.location.href = '/products/roasters-selection-br-single-origin-3-bags-monthly-12-months';
              }
              break;
          }    
          break;
        case "Roaster's Selection Blend":
          switch (selectedproductData["delivery-timming"]) {
            case "3 Months":
              if(selectedproductData["how-many"] === "2x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 15 days"){
                window.location.href = '/products/roasters-selection-br-blend-2-bags-bi-weekly-3-months';
              } else if (selectedproductData["how-many"] === "2x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 30 days") {
                window.location.href = '/products/roasters-selection-br-blend-2-bags-monthly-3-months';
              } else if (selectedproductData["how-many"] === "3x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 15 days") {
                window.location.href = '/products/roasters-selection-br-blend-3-bags-bi-weekly-6-months';
              } else if (selectedproductData["how-many"] === "3x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 30 days") {
                window.location.href = '/products/roasters-selection-br-blend-3-bags-monthly-3-months';
              }
              break;
            case "6 Months":
              if(selectedproductData["how-many"] === "2x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 15 days"){
                window.location.href = '/products/roasters-selection-br-blend-2-bags-bi-weekly-6-months';
              } else if (selectedproductData["how-many"] === "2x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 30 days") {
                window.location.href = '/products/roasters-selection-br-blend-2-bags-monthly-6-months';
              } else if (selectedproductData["how-many"] === "3x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 15 days") {
                window.location.href = '/products/roasters-selection-br-blend-3-bags-bi-weekly-6-months';
              } else if (selectedproductData["how-many"] === "3x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 30 days") {
                window.location.href = '/products/roasters-selection-br-blend-3-bags-monthly-6-months';
              }
              break;
            case "12 Months":
              if(selectedproductData["how-many"] === "2x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 15 days"){
                window.location.href = '/products/roasters-selection-br-blend-2-bags-bi-weekly-12-months';
              } else if (selectedproductData["how-many"] === "2x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 30 days") {
                window.location.href = '/products/roasters-selection-br-blend-2-bags-monthly-12-months';
              }  else if (selectedproductData["how-many"] === "3x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 15 days") {
                window.location.href = '/products/roasters-selection-br-blend-3-bags-bi-weekly-12-months';
              } else if (selectedproductData["how-many"] === "3x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 30 days") {
                window.location.href = '/products/roasters-selection-br-blend-3-bags-monthly-12-months';
              }
              break;      
          }    
          break;
        case "Highline Light Roast":
          switch (selectedproductData["delivery-timming"]) {
            case "3 Months":
              if(selectedproductData["how-many"] === "2x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 15 days"){
                window.location.href = '/products/highline-light-roast-organic-2-bags-bi-weekly-3-months';
              } else if (selectedproductData["how-many"] === "2x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 30 days") {
                window.location.href = '/products/highline-light-roast-organic-2-bags-monthly-3-months';
              } else if (selectedproductData["how-many"] === "3x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 15 days") {
                window.location.href = '/products/highline-light-roast-organic-3-bags-bi-weekly-3-months';
              } else if (selectedproductData["how-many"] === "3x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 30 days") {
                window.location.href = '/products/highline-light-roast-organic-3-bags-monthly-3-months';
              }
              break;
            case "6 Months":
              if(selectedproductData["how-many"] === "2x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 15 days"){
                window.location.href = '/products/highline-light-roast-organic-2-bags-bi-weekly-6-months';
              } else if (selectedproductData["how-many"] === "2x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 30 days") {
                window.location.href = '/products/highline-light-roast-organic-2-bags-monthly-6-months';
              } else if (selectedproductData["how-many"] === "3x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 15 days") {
                window.location.href = '/products/highline-light-roast-organic-3-bags-bi-weekly-6-months';
              } else if (selectedproductData["how-many"] === "3x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 30 days") {
                window.location.href = '/products/highline-light-roast-organic-3-bags-monthly-6-months';
              }
              break;
            
            case "12 Months":      
              if(selectedproductData["how-many"] === "2x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 15 days"){
                window.location.href = '/products/copy-of-highline-light-roast-organic-2-bags-bi-weekly-12-months';
              } else if (selectedproductData["how-many"] === "2x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 30 days") {
                window.location.href = '/products/highline-light-roast-organic-2-bags-monthly-12-months';
              } else if (selectedproductData["how-many"] === "3x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 15 days") {
                window.location.href = '/products/highline-light-roast-organic-3-bags-bi-weekly-12-months';
              } else if (selectedproductData["how-many"] === "3x 12oz. bags" && selectedproductData["delivery-frequency"] === "Every 30 days") {
                window.location.href = '/products/highline-light-roast-organic-3-bags-monthly-12-months';
              }
          }    
          break;         
      }
    } else {
      switch (selectedproductData["coffee-type"]) {
        case "71 House Medium Roast":
          window.location.href = '/products/71-house-medium-roast-subscription-only';
          break;
        case "Roaster’s Selection Single Originn":
          window.location.href = '/products/roasters-selection-br-single-origin-subscription-only';
          break;
        case "Gotham Dark Roast":
          window.location.href = '/products/gotham-dark-roast-subscription-only';
          break;
        case "Highline Light Roast":
          window.location.href = '/products/highline-light-roast-organic';
          break;
        case "Roaster's Selection Blend":
          window.location.href = '/products/roasters-selection-br-blend-subscription-only';
          break;
        default:
      };
    }  
  });
</script>